.color-knob-container {
  position: relative;
}

.color-preview {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 16px;
  right: 0;
  border: 2px solid #444;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}